apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ingress-nginx
  namespace: argocd
spec:
  generators:
    - clusters:
        selector:
          matchLabels:
            env: dev
        values:
          branch: main
    - clusters:
        selector:
          matchLabels:
            env: prod
        values:
          branch: main
  template:
    metadata:
      name: "{{name}}-ingress-nginx"
      annotations:
        argocd.argoproj.io/manifest-generate-paths: ".;.."
    spec:
      project: default
      sources:
        - repoURL: https://github.com/savagame/GitOps-At-Scale-Multitenancy.git
          targetRevision: main
          ref: valuesRepo
        - repoURL: https://github.com/savagame/GitOps-At-Scale-Multitenancy.git
          targetRevision: "{{values.branch}}"
          path: "./building-a-service-catalog-for-kubernetes/networking/ingress-nginx"
          helm:
            releaseName: "ingress-nginx"
            valueFiles:
              - "values.yaml"
              - "$valuesRepo/service-catalog-for-kubernetes/cluster/{{name}}/networking/ingress-nginx/values.yaml"
      destination:
        name: "{{name}}"
        namespace: "ingress-nginx"
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
