apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vcluster-team-a
  namespace: argocd
spec:
  destination:
    name: ""
    namespace: vcluster-team-a
    server: "https://kubernetes.default.svc"
  sources:
    - repoURL: https://github.com/savagame/GitOps-At-Scale-Multitenancy.git
      targetRevision: main
      ref: valuesRepo
    - repoURL: https://github.com/savagame/GitOps-At-Scale-Multitenancy.git
      targetRevision: main
      path: "./building-a-service-catalog-for-kubernetes/optimization/vcluster"
      helm:
        releaseName: "vcluster-team-a"
        valueFiles:
          - "values.yaml"
          - "$valuesRepo/building-a-service-catalog-for-kubernetes/cluster/vcluster-team-a/optimization/vcluster/values.yaml"
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
